:root{
    --color-primario: rgb(255, 94, 1);
    --color-secundario: rgb(255, 230, 0);
}
body{
    margin: 0;
}

.bloque1{
    display: flex;
    padding: 10px;
}
.navbar-toggler{
    
    margin-top: 0;
}
.cajita{
    width: 35%;
    display: flex;
}
.logo{
    width: 260px;
    height: 115px;
    display: flex;  
    border: 2px solid black; 
    border-radius: 15px;
}
.logo>img{
    width: 90px;
    height: 100px;
    margin-top: 5px;
}
.logo>p{
    font-style: italic;
    font-display:swap;
}

.logo > p{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
.bloque2{
    display: flex;
    height: 30%;
}
.caja{
    margin: 0;
    width: 25%;
    height: 40px;
    border-left: 2px solid;
    justify-content: center;
}
.caja:hover{
    background-color: rgba(255, 255, 255, 0.096);
}
.carousel{
    margin-top: 200px;
}
.servicios{
    width: 95%;
    height: 80%;
    justify-content: center;
    margin: 0px 4px px 8px;
    padding: 10px;
}
#dotacionesm{
    border: none;
}
.servicios:hover{
   color: rgb(255, 1, 1) ;
}
nav > a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.contenedor{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 2%;
    justify-content: center;
}
.contenedor__servicios{
    display: flex;
    width: 200px;
    border:2px solid rgba(73, 73, 73, 0.11);
    border-radius: 10px;
    padding: 5px;
    justify-items: center;
    justify-self: center;
}
.contenedor1{
    margin-top: 10px;
    display:grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 49% 49%;
    grid-template-areas: "dotaciones    ferreteria"
                         "corresponsal  droop";
    gap: 10px;
    margin-bottom: 5%;
}
.dotaciones{
    grid-area: dotaciones;
    margin: 0 0 0 30%;
}
.ferreteria{
    grid-area: ferreteria;
    margin: 0 30% 0 0;
}
.corresponsal{
    grid-area: corresponsal;
    margin: 0 0 0 30%;
}
.droop{
    grid-area: droop;
    margin: 0 30% 0 0;
}
.contenedor__servicios>a{
    text-decoration: none;
    color: black;
    justify-content: center;
}
.contenedor__servicios> a >img{
    width: 150px;
    margin-left: 13%;
}
.contenedor__servicios > a > h3{
    text-align: center;
}
.contenedor__servicios > a > p{
    text-align: center;
}
.contenedor__servicios:hover{
    border:3px solid rgba(73, 73, 73, 0.473);
}
footer{
    background-color: rgb(59, 56, 56);
}
